* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5000;
  position: absolute;
  width: 100%;
  transition: 0.5s;
}
.head .bar {
  display: none;
  color: white;
  font-size: 25px;
  padding: 15px;
}
.head .bar:focus {
  color: red;
}
@media (max-width: 900px) {
  .head .bar {
    display: block;
  }
}
.head .head_menu {
  display: flex;
  transition: 0.5s;
}
@media (max-width: 900px) {
  .head .head_menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    left: -100%;
    background-color: rgb(20, 20, 20);
  }
}
.head .head_menu li {
  position: relative;
}
.head .head_menu li:hover > .submenu {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  height: 300%;
}
.head .head_menu li:hover > a {
  background: white;
  color: black;
}
.head .head_menu li a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1.3em 20px;
  transition: 0.2s;
}
.head .head_menu li .submenu {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
  background-color: rgb(235, 235, 235);
  position: absolute;
}
.head .head_menu li .submenu li a {
  color: black;
}
.head .head_menu li .submenu li a:hover {
  color: white;
  background-color: rgb(5, 5, 5);
}
.head .head_search {
  display: flex;
  align-items: center;
  padding: 0 1.2em;
}
.head .head_search input {
  width: 0;
  outline: none;
  border: none;
  transition: 0.5s;
  margin-right: 1em;
  border-radius: 10px;
}
.head .head_search input:hover {
  width: 300px;
  padding: 10px;
}
.head .head_search label {
  font-size: 1.6em;
  color: yellow;
  cursor: pointer;
}
.head .head_search label:hover {
  margin-top: 2px;
  color: rgb(255, 107, 22);
}
.head .head_search label:active {
  color: rgb(255, 76, 22);
}
.head.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}
.head.sticky .head_menu li a {
  padding: 1.5em 20px;
}
.head.sticky label {
  padding: 15px;
}

.introduce {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.introduce img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.introduce .introduce_words {
  color: white;
  margin-top: 10em;
  text-shadow: 2px -1px 8px rgba(0, 0, 0, 0.7);
}
@media (max-width: 900px) {
  .introduce .introduce_words {
    margin-top: 1em;
  }
}
.introduce .introduce_words h1 {
  font-size: 3.4em;
}
@media (max-width: 900px) {
  .introduce .introduce_words h1 {
    font-size: 2.4em;
  }
}
.introduce .introduce_words h3 {
  font-size: 2em;
  color: rgb(240, 240, 240);
}
@media (max-width: 900px) {
  .introduce .introduce_words h3 {
    font-size: 1.5em;
  }
}

.main .title_part {
  text-align: center;
  padding: 2em 0;
}
.main .title_part.tour h1 {
  letter-spacing: 5px;
}
.main .title_part h1 {
  text-transform: uppercase;
}
.main .title_part p {
  font-style: italic;
  margin-top: 1.4em;
}
.main .main_aboutus, .main .main_showus {
  width: 95%;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .main .main_aboutus, .main .main_showus {
    width: 85%;
    text-align: center;
  }
}
.main .main_aboutus {
  margin-bottom: 3em;
}
.main .main_showus {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: auto;
}
@media (max-width: 900px) {
  .main .main_showus {
    display: block;
  }
}
.main .main_showus .main_showus__box {
  width: 20%;
  height: auto;
  display: block;
  position: relative;
  cursor: pointer;
}
@media (max-width: 900px) {
  .main .main_showus .main_showus__box {
    width: 100%;
    margin-bottom: 1em;
  }
}
.main .main_showus .main_showus__box:hover .main_shows__box__title {
  width: 100%;
}
.main .main_showus .main_showus__box .main_shows__box__title {
  font-size: 21px;
  position: absolute;
  z-index: 22222;
  width: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-shadow: 0 4px 7px rgb(39, 3, 3);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}
.main .main_showus .main_showus__box .main_shows__box__image {
  height: 350px;
  width: 100%;
  box-shadow: -2px -1px 8px 2px rgba(0, 0, 0, 0.4), 0 0 6px rgba(255, 255, 255, 0.8);
}
@media (max-width: 900px) {
  .main .main_showus .main_showus__box .main_shows__box__image {
    height: 400px;
  }
}
.main .main_showus .main_showus__box .main_shows__box__image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main_tour {
  padding: 5em 0;
  margin-top: 5em;
  background-color: black;
  color: white;
  padding-top: 2em;
}
.main .main_tour .container {
  width: 80%;
  margin: 0 auto;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__calendar {
  width: 100%;
  padding: 1em;
  border-radius: 20px;
  background-color: white;
  color: black;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__calendar li {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin-bottom: 1em;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__calendar li:last-of-type {
  margin-bottom: 0;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__calendar li .month {
  color: gray;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__calendar li .status {
  color: red;
  font-weight: 700;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__calendar li .status.active {
  color: white;
  background: rgb(41, 41, 41);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__cards {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .main .main_tour .main_tour__tickets .main_tour__tickets__cards {
    display: block;
  }
}
.main .main_tour .main_tour__tickets .main_tour__tickets__cards .main_tour_tickets__cards__card {
  width: 25%;
  height: 400px;
  background-color: white;
}
@media (max-width: 900px) {
  .main .main_tour .main_tour__tickets .main_tour__tickets__cards .main_tour_tickets__cards__card {
    width: 100%;
    height: 450px;
    margin-bottom: 1em;
  }
}
.main .main_tour .main_tour__tickets .main_tour__tickets__cards .main_tour_tickets__cards__card .main_tour_tickets__cards__card__img {
  height: 40%;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__cards .main_tour_tickets__cards__card .main_tour_tickets__cards__card__about {
  color: black;
  padding-top: 10px;
  height: 45%;
  text-align: center;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__cards .main_tour_tickets__cards__card .main_tour_tickets__cards__card__about #title {
  padding: 10px;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__cards .main_tour_tickets__cards__card .main_tour_tickets__cards__card__about #content {
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 1em 0;
  height: 60%;
  text-align: justify;
  overflow-y: auto;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__cards .main_tour_tickets__cards__card .main_tour_tickets__cards__card__buy {
  height: 15%;
  text-align: center;
  padding: 0 1em;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__cards .main_tour_tickets__cards__card .main_tour_tickets__cards__card__buy a {
  display: block;
  background-color: black;
  padding: 13px 25px;
  border-radius: 5px;
  border: 2px solid black;
}
.main .main_tour .main_tour__tickets .main_tour__tickets__cards .main_tour_tickets__cards__card .main_tour_tickets__cards__card__buy a:hover {
  color: black;
  background-color: white;
  display: block;
}
.main .main_contact {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 2em;
}
.main .main_contact .main_contact__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .main .main_contact .main_contact__content {
    display: block;
  }
}
.main .main_contact .main_contact__content .main_contact__content__info {
  font-size: 22px;
}
@media (max-width: 900px) {
  .main .main_contact .main_contact__content .main_contact__content__info {
    text-align: center;
  }
}
.main .main_contact .main_contact__content .main_contact__content__info p {
  margin-bottom: 1em;
  color: rgb(34, 34, 34);
}
.main .main_contact .main_contact__content .main_contact__content__mess {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  gap: 10px;
}
@media (max-width: 900px) {
  .main .main_contact .main_contact__content .main_contact__content__mess {
    width: 100%;
  }
}
.main .main_contact .main_contact__content .main_contact__content__mess .main_contact__content__mess__widget {
  width: calc(50% - 10px);
}
.main .main_contact .main_contact__content .main_contact__content__mess .main_contact__content__mess__widget input[type=text], .main .main_contact .main_contact__content .main_contact__content__mess .main_contact__content__mess__widget input[type=email], .main .main_contact .main_contact__content .main_contact__content__mess .main_contact__content__mess__widget textarea {
  padding: 8px;
  width: 100%;
  border: none;
  box-shadow: 0 0 5px rgba(41, 41, 41, 0.8);
}
.main .main_contact .main_contact__content .main_contact__content__mess .main_contact__content__mess__widget.submit {
  width: 100%;
}
.main .main_contact .main_contact__content .main_contact__content__mess .main_contact__content__mess__widget.submit input {
  width: 150px;
  height: 50px;
  font-size: 17px;
  float: right;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 5px;
}
@media (max-width: 900px) {
  .main .main_contact .main_contact__content .main_contact__content__mess .main_contact__content__mess__widget.submit input {
    width: 100%;
  }
}
.main .main_contact .main_contact__content .main_contact__content__mess .main_contact__content__mess__widget.submit input:hover {
  background-color: gray;
}
.main .main_contact .main_contact__content .main_contact__content__mess .main_contact__content__mess__widget.textare {
  width: 100%;
}

.footer .footer_map {
  width: 100%;
  display: block;
}
.footer .footer_belong {
  text-align: center;
  padding: 1em 0;
}
.footer .footer_belong p {
  color: gray;
}
.footer .footer_belong p .author {
  color: black;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 2px;
}/*# sourceMappingURL=styles.css.map */